<div fxLayout="row wrap">
    <mat-card class="home mat-elevation-z3">
        <mat-card-title class="title">
            Welcome!
        </mat-card-title>
        <mat-card-subtitle class="subtitle">
            This is a simple CRUD Application made with <a class="angular-link" href="https://angular.io/">
                <img src="assets\img\angular-logo.png" alt="angular-logo" class="angular-logo"><strong>NGULAR</strong>
            </a>
        </mat-card-subtitle>
        <mat-card-content class="content">
            Hello, this is my first project with Angular framework,
            <br>
            if the application can't find the server, it'll fallback to a local database
        </mat-card-content>

    </mat-card>

    <mat-card class="home mat-elevation-z3">
        <mat-card-content class="content">
            Click on <mat-icon>menu</mat-icon> then <mat-icon>{{ productIcon }}</mat-icon> to <strong>Manage
                Products</strong>
        </mat-card-content>
    </mat-card>
</div>