<mat-toolbar class="footer">
    <span class="logo-container mat-elevation-z8">
        <a href="https://github.com/AndreTerra5348" class="logo-link" target="_blank">
            <img src="assets\img\GitHub-Mark-32px.png" alt="github-logo" class="logo">
        </a>

        <a href="https://www.linkedin.com/in/andr%C3%A9-terra-2a7728145/" class="logo-link" target="_blank">
            <img src="assets\img\LI-In-Bug.png" alt="linkedin-logo" class="logo">
        </a>            
    </span>

    <span class="signature">
        Created by <strong>André Terra</strong>
    </span>
    
</mat-toolbar>
