<mat-sidenav-container class="container" [hasBackdrop]="false">
    <mat-sidenav class="sidenav" mode="side" [(opened)]="opened"
        fixedInViewport="false" fixedTopGap="64">
        <mat-nav-list class="nav-list">            
            <a mat-list-item routerLink="/" class="mat-elevation-z8" (click)="toggle()">
                <em class="material-icons">
                    {{ homeIcon }}
                </em>
            </a>
            <a mat-list-item routerLink="/products" class="mat-elevation-z8" (click)="toggle()">
                <em class="material-icons">
                    {{ productIcon }}
                </em>
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="content">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
